*** Data Import and Cleaning ***
Objective: Explore and wrangle two data sets

In [189]:
import pandas as pd

In [190]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [191]:
df_bb100 = pd.read_csv('/Users/noshintasnim/Downloads/hot-100-current.csv.zip')
df_classics = pd.read_csv('/Users/noshintasnim/Downloads/ClassicHit.csv')

In [ ]:
df_bb100.head(2)

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart
0,2022-01-01,1,All I Want For Christmas Is You,Mariah Carey,1.0,1,50
1,2022-01-01,2,Rockin' Around The Christmas Tree,Brenda Lee,2.0,2,44
2,2022-01-01,3,Jingle Bell Rock,Bobby Helms,4.0,3,41
3,2022-01-01,4,A Holly Jolly Christmas,Burl Ives,5.0,4,25
4,2022-01-01,5,Easy On Me,Adele,3.0,1,11

In [193]:
df_bb100.info()
df_bb100.describe(include='all').transpose()
df_bb100.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343600 entries, 0 to 343599
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   chart_week    343600 non-null  object
 1   current_week  343600 non-null  int64
 2   title         343600 non-null  object
 3   performer     343600 non-null  object
 4   last_week     311140 non-null  float64
 5   peak_pos      343600 non-null  int64
 6   wks_on_chart  343600 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 18.4+ MB

last_week       32460
chart_week          0
current_week        0
title               0
performer           0
peak_pos            0
wks_on_chart        0
dtype: int64

In [194]:
df_classics.head(2)

,Track,Artist,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Genre
0,Hey Jack Kerouac,"10,000 Maniacs",1987,206413,4,0.616,0.511,6,-15.894,1,0.0279,0.0384,0.00000,0.150,0.604,132.015,40,Alt. Rock
1,Like the Weather,"10,000 Maniacs",1987,236653,4,0.770,0.459,1,-17.453,1,0.0416,0.1120,0.00343,0.145,0.963,133.351,43,Alt. Rock

In [195]:
df_classics.info()
df_classics.describe(include='all').transpose()
df_classics.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15150 entries, 0 to 15149
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track             15150 non-null  object
 1   Artist            15150 non-null  object
 2   Year              15150 non-null  int64
 3   Duration          15150 non-null  int64
 4   Time_Signature    15150 non-null  int64
 5   Danceability      15150 non-null  float64
 6   Energy            15150 non-null  float64
 7   Key               15150 non-null  int64
 8   Loudness          15150 non-null  float64
 9   Mode              15150 non-null  int64
 10  Speechiness       15150 non-null  float64
 11  Acousticness      15150 non-null  float64
 12  Instrumentalness  15150 non-null  float64
 13  Liveness          15150 non-null  float64
 14  Valence           15150 non-null  float64
 15  Tempo             15150 non-null  float64
 16  Popularity        15150 non-null  int64
 17  Genre             15150 non-null  object
dtypes: float64(9), int64(6), object(3)
memory usage: 2.1+ MB

Track               0
Artist              0
Popularity          0
Tempo               0
Valence             0
Liveness            0
Instrumentalness    0
Acousticness        0
Speechiness         0
Mode                0
Loudness            0
Key                 0
Energy              0
Danceability        0
Time_Signature      0
Duration            0
Year                0
Genre               0
dtype: int64

In [196]:
df_bb100_top = df_bb100.loc[
    df_bb100.groupby(['title', 'performer'])['wks_on_chart'].idxmax()
].reset_index(drop=True)

df_bb100_top.head(2)

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart
0,1990-08-11,91,"""B"" Girls",Young And Restless,83.0,54,15
1,1973-05-19,51,"""Cherry Cherry"" from Hot August Night",Neil Diamond,31.0,31,10

In [197]:
best_songs = pd.merge(
    df_bb100_top, 
    df_classics, 
    left_on= ['title', 'performer'], 
    right_on= ['Track', 'Artist'], 
    how='inner' 
)

best_songs = best_songs.sort_values('Year').reset_index(drop=True)
best_songs.shape

(3454, 25)

In [198]:
best_songs.head(2)

,chart_week,current_week,title,performer,last_week,peak_pos,wks_on_chart,Track,Artist,Year,Duration,Time_Signature,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Popularity,Genre
0,2024-01-06,21,Here Comes Santa Claus (Right Down Santa Claus...,Gene Autry,22.0,21,20,Here Comes Santa Claus (Right Down Santa Claus...,Gene Autry,1947,150266,4,0.834,0.371,1,-11.990,1,0.0358,0.799,0.000,0.275,0.976,96.628,48,Country
1,1968-05-18,59,Foggy Mountain Breakdown,Flatt & Scruggs,58.0,55,12,Foggy Mountain Breakdown,Flatt & Scruggs,1949,140413,4,0.407,0.479,2,-14.781,1,0.0329,0.191,0.901,0.352,0.919,155.252,48,Country

In [ ]:
best_songs.duplicated().sum()

0

In [200]:
best_songs.info()
best_songs.describe(include='all').transpose()
best_songs.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3454 entries, 0 to 3453
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   chart_week        3454 non-null   object
 1   current_week      3454 non-null   int64
 2   title             3454 non-null   object
 3   performer         3454 non-null   object
 4   last_week         3390 non-null   float64
 5   peak_pos          3454 non-null   int64
 6   wks_on_chart      3454 non-null   int64
 7   Track             3454 non-null   object
 8   Artist            3454 non-null   object
 9   Year              3454 non-null   int64
 10  Duration          3454 non-null   int64
 11  Time_Signature    3454 non-null   int64
 12  Danceability      3454 non-null   float64
 13  Energy            3454 non-null   float64
 14  Key               3454 non-null   int64
 15  Loudness          3454 non-null   float64
 16  Mode              3454 non-null   int64
 17  Speechiness       3454 non-null   float64
 18  Acousticness      3454 non-null   float64
 19  Instrumentalness  3454 non-null   float64
 20  Liveness          3454 non-null   float64
 21  Valence           3454 non-null   float64
 22  Tempo             3454 non-null   float64
 23  Popularity        3454 non-null   int64
 24  Genre             3454 non-null   object
dtypes: float64(10), int64(9), object(6)
memory usage: 674.7+ KB

last_week           64
chart_week           0
Energy               0
Popularity           0
Tempo                0
Valence              0
Liveness             0
Instrumentalness     0
Acousticness         0
Speechiness          0
Mode                 0
Loudness             0
Key                  0
Danceability         0
current_week         0
Time_Signature       0
Duration             0
Year                 0
Artist               0
Track                0
wks_on_chart         0
peak_pos             0
performer            0
title                0
Genre                0
dtype: int64

In [201]:
cols_to_drop = ['Track', 'performer', 'last_week', 'Time_Signature', 'BPM', 'Key',
                'Mode', 'current_week', 'Valence', 'chart_week', 'Acousticness', 'Instrumentalness']

dfs = [best_songs]

for df in dfs:
    df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_' )
    df.drop(columns=[col for col in cols_to_drop if col in df.columns], inplace=True)

expected_columns = [
    'year', 'title', 'artist', 'genre', 'peak_pos', 'wks_on_chart', 
    'duration', 'popularity', 'energy', 'danceability', 'loudness', 
    'speechiness', 'liveness']

existing_cols = [col for col in expected_columns if col in best_songs.columns]
best_songs = best_songs[existing_cols]

In [202]:
best_songs.head(2)

,year,title,artist,genre,peak_pos,wks_on_chart,duration,popularity,energy,danceability,loudness,speechiness,liveness
0,1947,Here Comes Santa Claus (Right Down Santa Claus...,Gene Autry,Country,21,20,150266,48,0.371,0.834,-11.990,0.0358,0.275
1,1949,Foggy Mountain Breakdown,Flatt & Scruggs,Country,55,12,140413,48,0.479,0.407,-14.781,0.0329,0.352

In [203]:
best_songs.tail(2)

,year,title,artist,genre,peak_pos,wks_on_chart,duration,popularity,energy,danceability,loudness,speechiness,liveness
3452,2023,Kill Bill,SZA,Today,1,52,153946,79,0.728,0.644,-5.750,0.0351,0.161
3453,2023,5 Foot 9,Tyler Hubbard,Today,22,22,189780,67,0.796,0.602,-5.609,0.0465,0.125

In [204]:
best_songs.to_csv('Top_Songs_Dataset(1940s-2020s).csv', index=False)